html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.centeredForm {
    max-width: 330px;
    padding: 15px;
}

.clientList {
    max-width: 500px;
    padding: 15px;
}

.nav {
    background-color: #138496;
}
